.ant-select-tree {
}

.ant-select-tree-list-holder-inner {
    /* background-color: aqua; */
    padding-bottom: 10px;
    height: 1000px;
    z-index: 9999;
    height: 1300px;
}

.modal-90w {
    width: 75%;
    height: 35%;
    max-height: fit-content;
    max-width: 90%;
    margin: 0 auto;
}